<!DOCTYPE html>
<html lang="es" class="html-home">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/mobileNavBar') %> 
    <main class="coming-soon-main">
        <section class="coming-soon-container">
            <img class="coming-soon-image" src="/images/coming_soon.png" alt="coming_soon">
        </section>
    </main>
    <%- include('./partials/footerPrincipal') %>
</body>
</html>