<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/mobileNavBar') %>
    <main class="us-main">
        <section class="us-container">
            <article class="main-image-container">
                <img src="/images/us-pic.jpeg" alt="us-pic">
            </article>
            <article class="description-title-container">
                <p class="description" >
                    <h1 class="title">Nosotros</h1>
                    En Cruz hacemos zapatos de estilo y calidad desde 2017. Somos una PyME que ha tenido un crecimiento sostenido desde nuestra inaguración, 
                    teniendo como motor creativo la innovación constante y la búsqueda de la excelencia en el producto. <br />
                    Todos nuestros zapatos son fabricados íntegramente en cuero vacuno, el cual es seleccionado cuidadosamente y 
                    trabajado de manera artesanal con el fin de lograr colecciones urbanas y contemporáneas. <br />
                    Contamos con una línea completa de calzado para hombre íntegramente cosida a mano de gran durabilidad y resistencia. 
                    Trabajamos duramente día a día para brindar el producto con la mejor relación precio-calidad del mercado. <br /><br />
                    Somos Cruz, somos elegancia y calidad!
                </p>
            </article>
            <article class="shoe-images-container">
                <img src="/images/zapato.webp" alt="shoe-pic"  />
                <img src="/images/zapato.webp" alt="shoe-pic"  />
                <img src="/images/zapato.webp" alt="shoe-pic"  />
                <img src="/images/zapato.webp" alt="shoe-pic"  />
            </article>
        </section>

    </main>
    <%- include('./partials/footerPrincipal') %>
</body>
</html>